{% extends 'base.html.twig' %}

{% block navbar %}
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" href="{{path('tournoi_show', {id:tournoi.id})}}">Informations</a>
  <a class="nav-item nav-link active" href="{{path('tournoi_show_calendrier', {id:tournoi.id})}}">Calendrier</a>
  <a class="nav-item nav-link" href="#">Résultats</a>
  <a class="nav-item nav-link" href="#">Phases finales</a>
</nav>
{% endblock %}

{% block body %}
<!--<center>
  <a href="{{path('tournoi_download_calendrier', {id:tournoi.id})}}">
    <button class ="btn btn-outline-info btn-sm">Exporter le calendrier</button>
  </a><br><br>
  </center>
-->


<center>


  <p>
    <span id="tocopy">http://localhost:8000/tournoi:{{tournoi.id}}/calendrier/download</span>
    <button class="js-copy btn btn-outline-secondary btn-sm" data-target="#tocopy">Copier le lien <i
        class="icon-docs"></i></button>


  </p>
</center>
<script>

  var btncopy = document.querySelector('.js-copy');
  if (btncopy) {
    btncopy.addEventListener('click', docopy);
  }

  function docopy() {
    var range = document.createRange();
    var target = this.dataset.target;
    var fromElement = document.querySelector(target);
    var selection = window.getSelection();
  

  range.selectNode(fromElement);
    selection.removeAllRanges();
    selection.addRange(range);

    try {
      var result = document.execCommand('copy');

    }
    catch (err) {
      // Une erreur est surevnue lors de la tentative de copie
      alert(err);
    }

    selection = window.getSelection();

    if (typeof selection.removeRange === 'function') {
      selection.removeRange(range);
    } else if (typeof selection.removeAllRanges === 'function') {
      selection.removeAllRanges();
    }
  }

</script>



<!-- CALENDRIER A FAIRE : DODO ET MATHIEU -->
<script src="{{asset('js/scriptCal.js')}}"></script>

{% block hello %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
	<center>
		<br>
		<h1>Calendrier</h1>
	</center>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Formulaire Ajouter partie</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">

					<div class="col-sm-8"> 

						<p id="dateP">Partie du lundi "jour" "mois"> à 20h30</p>

						<div class="d-inline-flex justify-content-start">

							<div class="d-inline-flex justify-content-center">

								<p>Filtrer par :</p> 

							</div>

							<div class="dropdown" style="margin-left: 10px;">
								<select>
                  					{% for serie in series %}
										<option>{{serie.libelle}}</option>
									{% endfor %}
								</select>

							</div>

							<div class="dropdown" style="margin-left: 10px;">

								<select>
                  					{% for poule in poules %}
                  						<option>{{poule}}</option>
                  					{% endfor %}
								</select>

							</div>

						</div>

						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Vérifier disponibilités</label>
						</div>

					</div>

				</div>
				<hr>
				<div class="d-flex justify-content-center">

					<p class="text-center">Parties</p>

				</div>

				<div class="d-flex justify-content-center">
					<select style="width: 200px;text-align: center;text-align-last: center;">
						{% for evenement in evenements %}
                  			<option>{{evenement}}</option>
                  		{% endfor %}
					</select>

				</div>
				<br>
				<div class="d-flex justify-content-center">

					<p class="text-center">Juge</p>

				</div>

				<div class="d-flex justify-content-center">
					<select style="width: 200px;text-align: center;text-align-last: center;">
						{% for user in users %}
                  			<option>{{user}}</option>
                  		{% endfor %}
					</select>

				</div>

				<hr>
				<textarea id="descrIndispo" type="textarea" class="form-control" placeholder="Descrption de la potentielle indisponibilité des créneaux"></textarea>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" id="btnValid">Valider</button>
				<button type="button" class="btn btn-danger" id="btnSuppr">Supprimer</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancel">Annuler</button>
			</div>
		</div>
	</div>
</div>
{{(calendrier)|raw}}
<a href="{{path('creneau_new')}}">Creneau</a> <br>
{% if time != NULL %}
	{{time}}
{% endif %}
{% endblock %}
  


<br>
<center>
<select name="choose" id="choose ">
  <option>Sélectionnez un joueur</option>

  {% for joueur in joueurs %}
<option>{{ joueur.prenom }} {{ joueur.nom }}</option>

  {% endfor %}

</select>
</center>


{% endblock %}