{% extends 'base.html.twig' %}

{% block navbar %}
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" href="{{path('tournoi_show', {id:tournoi.id})}}">Informations</a>
  <a class="nav-item nav-link active" href="{{path('tournoi_show_calendrier', {id:tournoi.id})}}">Calendrier</a>
  <a class="nav-item nav-link" href="#">Résultats</a>
  <a class="nav-item nav-link" href="#">Phases finales</a>
</nav>
{% endblock %}

{% block body %}
<center>
  <a href="{{path('tournoi_download_calendrier', {id:tournoi.id})}}">
    <button class ="btn btn-outline-info btn-sm">Exporter le calendrier</button>
  </a><br><br>
   <a href="{{path('tournoi_download_calendrier_partie', {id:tournoi.id})}}">
    <button class ="btn btn-outline-info btn-sm">Exporter mes parties en tant que joueur</button>
  </a><br><br>
   <a href="{{path('tournoi_download_calendrier_juge', {id:tournoi.id})}}">
    <button class ="btn btn-outline-info btn-sm">Exporter mes parties en tant que juge</button>
  </a>
</center>
<br><br>

<!-- CALENDRIER A FAIRE : DODO ET MATHIEU -->


{% endblock %}
