{% extends 'base.html.twig' %}

{% block title %}Pilokuta{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
<center>
  <h4>
    Liste des tournois
  </h6>
</center>
<center>
<a href="{{path('tournoi_new')}}">
 <button class="btn btn-info">Créer un nouveau tournoi</button>
</a>
</center>
<br><br>

<div class="row">

{% for tournoi in tournois %}

<div class="col-md-3">
  <div class="card" >
    <div class="card-body">
      <center>
        <h4 class="card-title">{{ tournoi.libelle }}</h4>
        <h6 class="card-subtitle mb-4 text-muted">
          {% if tournoi.nbJoueursParEquipe == 1 %}
          1 vs 1
          {% elseif tournoi.nbJoueursParEquipe == 2 %}
          2 vs 2
          {% endif %}
        </h6>
        <h6 class="card-subtitle mb-4 text-muted">{{ tournoi.dateDebut ? tournoi.dateDebut|date('d-m-Y') : '' }} - {{ tournoi.dateFin ? tournoi.dateFin|date('d-m-Y') : '' }}</h6>
        <a href="{{path('tournoi_show', {id:tournoi.id})}}">
          <button class="btn btn-outline-success">Consulter</button>
        </a>
      </center>
    </div>
  </div>
</div>

{% endfor %}

</div>

{% endblock %}
