{% extends 'base.html.twig' %}

{% block body %}
<center>
{% if action == "ajouter" %}
<h3 class = "display-4">
    Enregistrez votre nouvelle Poule
</h3>
{% else %}
<h3 class = "display-4">
    Modifiez votre Poule
</h3>
{% endif %}
</br></br>
</center>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                {{ form_start(vueFormulaire) }}
                <H4>Poules</H4>
                {{ form_row(vueFormulaire.libelle) }}

                <H4>Equipes</H4>
                <ul class="equipes" data-prototype="{{ form_widget(vueFormulaire.equipes.vars.prototype)|e('html_attr') }}">
                {% for equipe in vueFormulaire.equipes %}
                <li>{{ form_row(equipe.libelle, {'attr' : {'placeholder':"18"}}) }}</li>
                {% endfor %}
                </ul>

                <button type="submit" class="btn btn-dark">Enregistrer</button>

                {{ form_end(vueFormulaire) }}

            </div>
        </div>
    </div>
{% endblock %}