{% extends 'base.html.twig' %}

{% block title %}Index des Séries{% endblock %}

{% block body %}
    <center class="display-4">Les Séries du tournoi</center><br><br>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Possibilités</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td>{{ serie.libelle }}</td>
                <td>
                    <a href="{{ path('serie_show', {'id': serie.id}) }}"><button type="button" class="btn btn-outline-light">Voir les détails</button></a>
                    <hr>
                    <a href="{{ path('modify_serie', {'id': serie.id}) }}"><button type="button" class="btn btn-outline-light">Modifier série</button></a>
                    <hr>
                    <a href="{{ path('poules_index_serie', {'idSerie': serie.id})}}"><button type="button" class="btn btn-outline-light">Affiche les poules correspondantes</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Vous n'avez rentré aucune Série</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
    <a href="{{ path('add_serie_tournoi', {'idTournoi': serieAjout.tournoi.id}) }}"> <input type="button" class="btn btn-info" value="Ajouter une Série"> </a>
    </center>
{% endblock %}
