{% extends 'base.html.twig' %}

{% block title %}Serie index{% endblock %}

{% block body %}
    <h1>Serie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.libelle }}</td>
                <td>
                    <a href="{{ path('serie_show', {'id': serie.id}) }}">show</a>
                    <hr>
                    <a href="{{ path('serie_editer', {'id': serie.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('serie_new') }}">Rajouter une nouvelle Série</a>
{% endblock %}
