<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Pilokuta{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
  {% endblock %}
</head>



<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        {% block entete %}
        <div>
          <center>
            <a href="{{path('tournoi_index')}}" style="color:black; text-decoration:none">
              <h1 class="display-4">
                <b>Pilokuta</b>
              </h1> </a>
            <div align="right"> 
             {% if is_granted('ROLE_USER') %}
                    {{ app.user.prenom }} {{ app.user.nom }} 
                    <i class="icon-user"></i>
                    <a  href="{{path('app_logout')}}">
                      Déconnexion
                    <span class="sr-only">(current)</span></a>
             {% else %}
                    <i class="icon-user"></i>
                    <a  href="{{path('app_login')}}">
                      Connexion
                    <span class="sr-only">(current)</span></a>
             {% endif %}
             </div>
          </center>
          
          <hr>
        </div>
        {% endblock %}
        <br>
        {% block navbar %}


        <nav class="nav nav-pills nav-justified">
          <a class="nav-item nav-link" href="#">Informations</a>
          <a class="nav-item nav-link" href="#">Calendrier</a>
          <a class="nav-item nav-link" href="#">Résultats</a>
          <a class="nav-item nav-link" href="#">Phases finales</a>
        </nav>


        {% endblock %}

        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        {% block body %}

        {% endblock %}

      </div>
    </div>
  </div>


  {% block javascripts %}
  <script src = "/js/bootstrap.min.js">
  </script>
{% endblock %}
</body>
</html>
